body{
    background-color: #e93814c2;
    position: relative;
}
.digital-clock{
    display: flex;
    width: 40vmax;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%,-50%);
    
}
.hour{
    background: rgb(37, 37, 195);
}
.minute{
    background: rgb(37, 37, 195);
}
.second{
    background: rgb(37, 37, 195);
}

.hour , .minute , .second{
    width: 32%;
    height:150px ;
    position: relative;
}
.digit{
    font-size: 45px;
    position: absolute;
    left : 50%;
    top: 75px;
    transform: translate(-50%,-50%);

}
.text{
    position: absolute;
    left : 50%;
    top: 140px;
    transform: translate(-50%,-50%);

}

.hed{
    text-align: center;
}

