@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat',sans-serif;;
}

.container{
    display: flex;
}

.side_nav{
    background-color: gray;
    color: black;
    width: 15%;
    height: 100vh;
}
.main_section{
    color:black;
    width: 80%;
    height: 100vh;

}

.side_nav nav ul li{
    padding: 1.5rem;

}

nav ul a{
    color: black;
    text-decoration: none;
}
nav ul a:hover{
    border-bottom: 2.5px solid black;
    padding-bottom: 0.2rem;
}

.main_section .user_info{
    width: 550px;
    height: 300px;
    margin: 8rem auto;
}
.user_info{
    display: flex;
    justify-content: space-around;
}
.devpic img{
    width: 104%;
    height: 300px;
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-family: 'fira sans','sans-serif';
    font-size: 22px;
}
.devinfo .name{
    font-weight: bold;
}
.devinfo .btn button{
    background-color :dodgerblue;
    padding: 0.3rem;
    border-radius: 10px;
    margin: 0.5rem 0.2rem;
    cursor: pointer;
}
.devinfo .par{
    font-size: 1rem;
}
.btn button:hover{
    background-color: #fff;
    color: dodgerblue;
}

/* ################### contact page styling ###################### */

.container .contact-form{
    margin:6rem 3rem;
}

.contact-form form{
    display: flex;
    flex-direction: column;
}
.contact-form  h1{
    margin-bottom: 1rem;
}

.contact-form form input{
    margin-bottom: 1rem;
    padding: 0.5em;
}
.contact-form form .btn-sm{
    font-size: 20px;
    background-color: dodgerblue;
    font-weight: bold;
}

.contact-form form .btn-sm:hover{
    background-color: #fff;
    color: dodgerblue;
}


/* ################ Intro page styling ################## */

.intro{
    margin: 3rem 2rem
}

.intro h1{
    font-size: 25px;
    margin-bottom: 0.5rem;
}

.intro p{
    margin-bottom: 1.5rem;

}
.intro h2{
    margin-bottom: 0.5rem;
}
.intro .skill-item{
    padding:1px ;
    font-weight: 500;
}

.mr{
    margin-bottom: 2rem;
}

.intro li{
    font-weight: 500;
}

.intro .project-item p{
    font-size: 13px;
}


/* ############# blog page styling ################# */

.blogs{
    margin:3rem 1rem;
    font-family: 'Montserrat';
} 

.blog button{
    margin:1rem;
    padding:10px 20px;
    font-size:16px;
    border-radius: 20px;
    background-color: dodgerblue;
}
.btns{
    margin:1rem;
    padding:10px 20px;
    font-size:16px;
    border-radius: 20px;
    background-color: dodgerblue;
}
.blog button:hover{
    background-color:white;
    color:dodgerblue
}






